<ul id="main" class="dd">
	<li><a class="hl" href="http://wiki.ligmincha.org/Ligmincha_Global_toolbar" target="_parent">Ligmincha Global Toolbar</a></li>
	<li>Sites&nbsp;&nbsp;▼
		<ul>
			<li><a href="http://ligminchaglobal.organicdesign.co.nz" target="_parent">LigminchaGlobal application</a></li>
			<li><a href="http://ligminchawiki.organicdesign.co.nz" target="_parent">Documentation wiki</a></li>
			<%=lg.sanghaLinks()%>
		</ul>
	</li>
	<%=lg.adminMenu()%>
	<li>Recent activity&nbsp;&nbsp;▼
		<ul>
			<li><a>Mary edited foo</a></li>
			<li><a>Sam logged in to bar</a></li>
			<li><a>Fred signed up to baz</a></li>
		</ul>
	</li>
	<%=lg.chatMenu()%>
</ul>
<ul id="personal" class="dd">
	<li><%=lg.personalMenu()%></li>
</ul>
