<ul id="main" class="dd">
	<li>Ligmincha Global Toolbar</li>
	<li>Sites&nbsp;&nbsp;▼
		<ul>
			<li><a href="http://ligminchaglobal.organicdesign.co.nz/index.php">LigminchaGlobal application</a></li>
			<li><a href="http://ligminchawiki.organicdesign.co.nz">Documentation wiki</a></li>
			<li><a href="<%-sangha%>">Your local sangha</a></li>
		</ul>
	</li>
	<li>Admin&nbsp;&nbsp;▼
		<ul>
			<li><a>Control panel</a></li>
			<li><a>Manage users</a></li>
			<li><a>Manage servers</a></li>
		</ul>
	</li>
	<li>Recent activity&nbsp;&nbsp;▼
		<ul>
			<li><a>Mary edited foo</a></li>
			<li><a>Sam logged in to bar</a></li>
			<li><a>Fred signed up to baz</a></li>
		</ul>
	</li>
	<li><%=lg.User.chatMenu()%></li>
</ul>
<ul id="personal" class="dd">
	<li><%-name%>&nbsp;&nbsp;▼
		<ul>
			<li><a>Profile</a></li>
			<li><a>Log out</a></li>
		</ul>
	</li>
</ul>
