<ul id="main" class="dd">
	<li>Ligmincha Global Toolbar</li>
	<li>Sites&nbsp;&nbsp;▼
		<ul>
			<li><a>Wiki</a></li>
			<li><a>Forum</a></li>
			<li><a>Sangha</a></li>
		</ul>
	</li>
	<li>Sites&nbsp;&nbsp;▼
		<ul>
			<li><a>Wiki</a></li>
			<li><a>Forum</a></li>
			<li><a>Sangha</a></li>
		</ul>
	</li>
	<li>Sites&nbsp;&nbsp;▼
		<ul>
			<li><a>Wiki</a></li>
			<li><a>Forum</a></li>
			<li><a>Sangha</a></li>
		</ul>
	</li>
	<li>Foo<ul>Foo</ul></li>
</ul>
<ul id="personal" class="dd">
	<li><%-data.realname%>&nbsp;&nbsp;▼
		<ul>
			<li><a>Log out</a></li>
		</ul>
	</li>
</ul>
