<div id="server-popup">
	<h1><%- data.name %></h1>
	<div><a href="http://<%-tag%>"><%-tag%></a></div>
	<table class="server">
		<tr><th>Global ID:</th><td><%=id.substr(0,5)%></td></tr>
		<tr><th>IP address:</th><td>1.2.3.4</td></tr>
		<tr><th>System:</th><td><%-data.system%></td></tr>
		<tr><th>PHP version:</th><td><%-data.php%></td></tr>
		<tr><th>MySQL version:</th><td><%-data.mysql%></td></tr>
		<tr><th>Web-server:</th><td><%-data.webserver%></td></tr>
		<tr>
			<th>Joomla version:</th>
			<td>
				<select><%=lg.tagList()%></select>
			</td>
		</tr>
	</table>
</div>
