@charset "utf-8";
/* CSS Document */

/* 
	Using a customized version of Eric Meyer's CSS Reset to give us an even, cross-browser playing field. More info:
	http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	font-size:;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration:none
}
body {
	line-height: 1.2;
	font-family:Arial, Helvetica, sans-serif
}
ol, ul {}
:focus {
	outline: 0px #c0c dotted;
}
.clear {clear:both}


body {
	margin: 0;
	background: #f4f4f4;
}
table {
	border-collapse: collapse;
}

/*
 * Personal top bar
 */
#personal {
	background: linear-gradient(to top, #373737 0px, #464646 5px) repeat scroll 0 0 #464646;
	color: #ccc;
	font: 13px sans-serif;
	height: 28px;
}
#personal a.ui-state-focus, #personal a.ui-state-active { color: black; }
#personal h3 { display: none; }
#personal div, #uuid { float: right; margin: 5px 10px 0 0; color: #666; }
#personal-menu { overflow: hidden; float: left; background: none; border: none; font-size: 12px; }
#personal-menu li { border-right: 1px solid #555; }
#personal-menu li a { border-right: 1px solid #333; padding-left: 20px; padding-right: 20px; }
#personal-menu li li { border: none; width: 150px; margin-top: 3px; }
#personal-menu li li a { border: none; padding-left: 10px; }
#personal-menu .ui-menu { overflow: visible !important; }
#personal-menu > li { float: left; display: block; width: auto !important; }
#personal-menu > li { margin-top: 1px; padding: 0 0 !important; }
#personal-menu > li > a { color: #ccc; float: left; display: block; clear: both; overflow: hidden; }
#personal-menu .ui-menu-icon { margin-top: 0.3em !important; }
#personal-menu .ui-menu .ui-menu li { float: left; display: block; }
#personal ul { z-index: 9999; }
#bitgroup span, #groups span { display: none; }

/*
 * Main page container
 */
#header { height: 38px; margin: 0 0px; background: transparent url(img/tl.png) left no-repeat;}
#header div { margin: 0; padding: 0; height: 38px; background: transparent url(img/tr.png) right no-repeat; }
#page-wrapper { margin: 0 0px; padding: 0; background: white url(img/r.png) top right repeat-y; }
#page-interior { background: white url(img/logo.jpg) top right no-repeat; }
#page-l { margin: 0; padding: 0 0 0 40px; background: transparent url(img/l.png) left repeat-y; }
#page-r { margin: 0; padding: 0 40px 0 0; background: transparent url(img/logo-r.png) top right no-repeat; }
#footer { height: 38px; margin: 0 0px; background: transparent url(img/bl.png) left no-repeat;}
#footer div { margin: 0; padding: 0; height: 38px; background: transparent url(img/br.png) right no-repeat; }

/*
 * Headings
 */
h1,h2,h3,h4,h5 { font-family: sans-serif; color: #4E507F; margin: 0 0 10px 0; }
h1#page-title a, h1#page-title a:visited { font-size: 48px; color: #E2E6F2; font-weight: bold; position: relative; top: -10px; margin-bottom: 10px; }
h2#sub-title { font-size: 30px; font-weight: normal; margin-top: -10px;}

/*
 * Links
 */
#page-interior a, #page-interior a:visited { color: #217A28; text-decoration: none; }
#page-interior a:hover { text-decoration: underline; }

/*
 * View menu
 */
#views { overflow: hidden; }
#views h3 { display: none; }
#views ul { margin: 0 0 30px 1px; padding: 0; font: 13px sans-serif; }
#views li { display: inline; margin-right: 10px; }
#views li.selected a {
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFFEAC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
#views li.disabled {
	color: #999;
}

/*
 * Info/warning/error boxes
 */
.info, .error, .warning, .success {
	color: black;
	font: 12px sans-serif;
	font-weight: bold;
	border: 1px solid #8B6914;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 15px 20px 15px 72px;
	margin: 20px auto;
	line-height: 18px;
	clear: both;
	width: 450px;
	min-height: 30px;
}
#notify div { width: 500px; margin: 20px auto; }
.info {
	border-color: #447BFA;
	color: #000099;
	background: #FFFED1 url(/skins/default/icons/info.png) 12px center no-repeat;
	font-weight: normal;
}
.success {
	color: #009900;
	border-color: #009900;
	background: #FFFED1 url(/skins/default/icons/success.png) 16px center no-repeat;
	font-weight: normal;
}
.warning {
	border-color: #cc0000;
	background: #FFFED1 url(/skins/default/icons/warning.png) 16px center no-repeat;
}
.error {
	border-color: #dd0000;
	color: #dd0000;
	background: #FFFED1 url(/skins/default/icons/warning.png) 16px center no-repeat;
}
#notify .groupcreated { width: 800px; }

/*
 * Forms
 */
div.form {
	font: 12px sans-serif;
	color: black;
	background-color: #F2F2F9;
	border: 1px solid #8080A1;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}
div.form input { margin-right: 5px; }
div.form p { text-align: center; margin-bottom: 10px; }
div.form label { font-weight: bold; }


td {
	background-color: #FFFFFF;
}
th {
	background-color: #F3F3F3;
	text-align: left;
}
table, td, th {
	border: 1px solid #AAAAAA;
	padding: 2px 10px;
}

/*
 * Tables
 */
#content table {
	font-size: 12px;
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	border: 2px solid white;
	background-color: white;
}
#content .table-wrapper {
	display: inline-block;
	border: 3px solid #ddd;
}
#content th {
	background: url(img/tbl-th.png) repeat-x scroll 0 0 #B9C9FE;
	color: #039;
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	border: 2px solid white;
}
#content td {
	background: url(img/tbl-tr.png) repeat-x scroll 0 0 #E8EDFF;
	color: #669;
	padding: 8px;
	border: 2px solid white;
}
#content tr:hover td {
    background: url(img/tbl-tr-hvr.png) repeat-x scroll 0 0 #D0DAFD;
    color: #339;
}
