/**
 * Map
 */
div.map {
	width: 900px;
	height: 600px;
}

/**
 * Ajax loader
 */
div.loader {
	width: 100%;
	height: 100px;
	background: url(../images/loader.gif) no-repeat center;
}

/**
 * Server map info window
 */
div.gm-style-iw span.title {
	color: blue;
	font-size: 10pt;
	font-weight: bold;
}
div.gm-style-iw span.title:hover {
	text-decoration: underline;
}

/**
 * Server details popup
 */
#server-popup h1 {
	font-size: 16pt;
	color: #666;
	margin: 0;
}
#server-popup div a {
	color: blue;
	font-size: 11pt;
}
#server-popup table {
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%;
}
#server-popup th {
	text-align: left;
	font-size: 12pt;
	border: 1px solid #ccc;
	width: 0;
	white-space: nowrap;
	padding: 2px 15px 2px 5px;
}
#server-popup td {
	font-size: 12pt;
	border: 1px solid #ccc;
	padding: 2px 0 2px 5px;
}
