body {
	background-color: #eee;
	padding-top: 5px;
}

/**
 * Global toolbar
 */
#toolbar {
	display: none;
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #464646;
	background-image: -moz-linear-gradient(center bottom , #373737, #464646 5px);
	color: #ccc;
	font: 13px/28px sans-serif;
	height: 28px;
}
#main {
	float: left;
}
#main li {
	margin: 0 2px 0 0;
	border-right: 1px solid #333;
}
#personal {
	float: right;
}
#personal li {
	margin: 0 0 0 2px;
	border-left: 1px solid #333;
}
.dd {
	background: #555;
	padding: 0;
	margin: 0;
}
.dd li {
	padding: 0 20px;
	background: #464646;
	background-image: -moz-linear-gradient(center bottom , #373737, #464646 5px);
}
.dd, .dd ul {
	margin: 0;
	list-style: none;
}
.dd ul {
	padding: 0;
}
.dd ul li {
	background: none;
}
.dd a {
	display: block;
	padding: 5px;
	text-decoration: none;
	line-height: 13px;
	color: #ccc;
	cursor: pointer;
}
.dd a:hover {
	text-decoration: underline;
}
.dd li {
	float: left;
	text-align: left;
	margin-bottom: 0;
	cursor: default;
}
.dd li ul {
	position: absolute;
	background: #464646;
	background-image: -moz-linear-gradient(center bottom , #373737, #464646 5px);
	padding-bottom: 5px;
	top: -999px;
}
.dd li ul li {
	padding: 0 20px 0 10px;
	margin-left: -1px;
	float: none;
}
.dd li:hover ul, .dd li.sfhover ul {
	top: 25px;
}











/**
 * Notification
 */
#notify p {
	margin: 3px 0;
}
#notify {
	display: none;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
#notify div.message {
	text-align: left;
	font-family: sans-serif;
	font-size: 12pt;
	line-height: 16pt;
	color: #333;
	border: 1px solid #ccc;
	background: #FDFDDD url(/images/info.png) 30px center no-repeat;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	padding: 10px 50px 10px 150px;
	margin: 0 auto;
	display: table;
}
#notify h1 {
	font-size: 14pt;
	font-weight: bold;
	color: #666;
	text-align: center;
}

/**
 * Map
 */
div.map {
	width: 900px;
	height: 600px;
}

/**
 * Ajax loader
 */
div.loading {
	width: 100%;
	height: 100px;
	background: url(../images/loader.gif) no-repeat center;
}

/**
 * Server map info window
 */
div.gm-style-iw span.title {
	color: blue;
	font-size: 10pt;
	font-weight: bold;
}
div.gm-style-iw span.title:hover {
	text-decoration: underline;
}
div.gm-style-iw ul {
	padding-left: 12px;
}
ul.sessions {
	font-size: 8pt;
	line-height: 8pt;
}

/**
 * Server details popup
 */
#server-popup h1 {
	font-size: 16pt;
	color: #666;
	margin: 0;
}
#server-popup div a {
	color: blue;
	font-size: 11pt;
}
#server-popup table {
	margin: 10px 0;
	border-collapse: collapse;
	width: 100%;
}
#server-popup th {
	text-align: left;
	font-size: 12pt;
	border: 1px solid #ccc;
	width: 0;
	white-space: nowrap;
	padding: 2px 15px 2px 5px;
}
#server-popup td {
	font-size: 12pt;
	border: 1px solid #ccc;
	padding: 2px 0 2px 5px;
}
